---
import { graphQLClient, gql } from '../lib/graphql';

const GET_BEMOREFREE_POSTS = gql`
  query GetBemorefreePosts {
    posts(where: { categoryNameIn: ["be-more-free", "all"] }) {
      nodes {
        title
        uri
        categories {
          nodes {
            name
          }
        }
      }
    }
  }
`;

let posts = [];
try {
  const data = await graphQLClient.request(GET_BEMOREFREE_POSTS);
  posts = data.posts.nodes;
} catch (error) {
  console.error("Error fetching posts for bemorefree.com:", error);
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Be More Free - Blog</title>
	</head>
	<body>
		<h1>Welcome to Be More Free Blog</h1>

		{posts.length > 0 ? (
			<ul>
				{posts.map((post) => (
					<li>
						<a href={post.uri}>{post.title}</a>
						{post.categories && post.categories.nodes.length > 0 && (
							<span> ({post.categories.nodes.map(cat => cat.name).join(', ')})</span>
						)}
					</li>
				))}
			</ul>
		) : (
			<p>No posts found. Please add some posts in your WordPress CMS with the category "Be More Free Content".</p>
		)}
	</body>
</html>